# .coveragerc
[run]
branch = True
source =
    accounts
    assets
    config
    core
    work

omit =
    */migrations/*
    */tests/*
    manage.py
    config/settings/*
    */__init__.py
    */seed_demo_data.py
    seed_demo_data.py
