[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
docutils = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
tzdata = "*"
celery = "*"
redis = "*"
djangorestframework = "*"
django-storages = "*"
django-celery-beat = "*"
python-dotenv = "*"
coverage = "*"
isort = "*"
flake8 = "*"
black = "*"
django-filter = "*"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
