version: 2.1

jobs:
  build_and_test:
    docker:
      - image: cimg/python:3.12
    working_directory: ~/repo
    steps:
      - checkout

      - run:
          name: Install pipenv
          command: |
            python -m pip install --upgrade pip
            pip install pipenv

      - run:
          name: Install dependencies with pipenv
          command: |
            pipenv install --dev

      - run:
          name: Run flake8 linter
          command: |
            pipenv run flake8 .

      - run:
          name: Run pytest with coverage
          command: |
            pipenv run pytest \
              --cov=accounts \
              --cov=api \
              --cov=assets \
              --cov=core \
              --cov=work \
              --cov-report=term-missing \
              --cov-fail-under=80

  deploy_prod:
    docker:
      - image: cimg/python:3.12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Deploy main to Heroku PROD
          command: |
            git push https://heroku:${HEROKU_API_KEY}@git.heroku.com/planit-mini-prod.git main

  deploy_dev:
    docker:
      - image: cimg/python:3.12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Deploy develop to Heroku DEV
          command: |
            # Push local develop branch, but store it on Heroku as main
            git push https://heroku:${HEROKU_API_KEY}@git.heroku.com/planit-mini-staging.git develop:main

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - build_and_test

      - deploy_prod:
          requires:
            - build_and_test
          filters:
            branches:
              only: main

      - deploy_dev:
          requires:
            - build_and_test
          filters:
            branches:
              only: develop
